.h-wrapper{
   
    color: white;
}
.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
    padding-left: 12rem;
    padding-right: 12rem;
}
.h-menu{
    gap: 2rem;
}
.h-menu:hover{
    cursor: pointer;
}